{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{{ list.title }}{% endblock %} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" src="{% static 'css/list.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% block content %}
       <header>
        {% include "lists/list_base.html" %}
       </header>
        <main>
        
        <h2>{{ list.title }} </h2>
        <p>{% for task in tasks %} 
            <h2><a href="{{ task.get_absolute_url }}">
                {{ task.title }}
            </a>
           </h2>
           {% if True %} 
           <p>Modified in {{ task.modified }} </p> 
           {% else %} 
           <p>Created in {{ task.created }} </p> 
           {% endif %}
        <P>{{ task.details }} </p> 
        
        {% endfor %} 
        <P><a href="{% url 'list:create_list' %}">Create new list</a></P>
        <P><a href="{% url 'list:create_task' %}">Create new task</a></P>
        <p><a href="{% url 'list:list_index' %}">Back to main menu</a></p>
        {% endblock %}
       </main> 
        <script src="" async defer></script>
    </body>
</html>